@import url('font.css');

/* banner */
#banner img {
    max-width: 100%;
}
/* end banner */

/* learning-system */
#learning-system, .title{
    margin-top: 40px;
}
#learning-system .title-main{
    position: relative;
}
#learning-system .title-main img{
    max-width: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    margin: auto;
}
#learning-system .title-main p{
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -19px;
    font-size: 33px;
    font-family: regular;
    text-transform: uppercase;
}

.title p {
    font-family: regular;
    font-size: 25px;
    color: black;
    text-transform: uppercase;
    text-align: center;

}

.border-bottom{
    height: 5px;
    width: 21%;
    background-color: #c31f29;
    margin : auto;
}

.brand{
    margin-top: 32px;
    text-align: center;
}

.brand img{
    margin: 1rem;
    text-align: center;
}
/* end learning-system */

/* difficult */
#difficult {
    background-image: url('images/bg-difficult.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#difficult .title p{
    margin-top: 136px;
    padding: 0rem 8rem 0rem 5rem;
    font-size: 46.643px;
    font-family: "Myriad Pro";
    color: rgb(195, 31, 41);
    text-transform: uppercase;
    line-height: 1.308;
    text-align: center;
}

#difficult .row-content{
    display: flex;
}

#difficult .number{
    font-size: 67.755px;
    font-family: "myriad-regular";
    color: rgb(209, 33, 39);
    line-height: 2.023;
    text-align: center;
}

#difficult .text p{
    font-size: 23px;
    font-family: "myriad-regular";
    color: rgb(197, 33, 43);
    background-image: url(images/bg-content-difficult.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* end difficult */