@import url('font.css');

/* banner */
#banner img {
    max-width: 100%;
}
/* end banner */

/* learning-system */
#learning-system, .title{
    margin-top: 40px;
}
#learning-system .title-main{
    position: relative;
}
#learning-system .title-main img{
    max-width: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    margin: auto;
}
#learning-system .title-main p{
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -19px;
    font-size: 33px;
    font-family: regular;
    text-transform: uppercase;
}

.title p {
    font-family: regular;
    font-size: 25px;
    color: black;
    text-transform: uppercase;
    text-align: center;

}

.border-bottom{
    height: 5px;
    width: 21%;
    background-color: #c31f29;
    margin : auto;
}

.brand{
    margin-top: 32px;
    text-align: center;
}

.brand img{
    margin: 1rem;
    text-align: center;
}
/* end learning-system */

/* difficult */
#difficult {
    background-image: url('images/bg-difficult.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 40px;
}

#difficult .title p{
    margin-top: 136px;
    padding: 0rem 8rem 0rem 5rem;
    font-size: 46.643px;
    font-family: "Myriad Pro";
    color: rgb(195, 31, 41);
    text-transform: uppercase;
    line-height: 1.308;
    text-align: center;
}

#difficult .row-content{
    display: flex;
}

#difficult .number{
    font-size: 67.755px;
    font-family: "myriad-regular";
    color: rgb(209, 33, 39);
    line-height: 2.023;
    text-align: center;
}

#difficult .text p{
    font-size: 23px;
    font-family: "myriad-regular";
    color: rgb(197, 33, 43);
    background-image: url(images/bg-content-difficult.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 87%;
    padding: 2rem
}

#difficult .register {
    position: relative;
    display: flex;
    justify-content: center;
}

#difficult .btn-register{
    position: absolute;
    margin: auto;
    top: 20px;
    text-transform: uppercase;
    font-size: 25.539px;
    font-family: "myriad-regular";
    color: rgb(35, 31, 32);
    line-height: 1.193;
}
/* end difficult */

/* solution */
#solution {
    background-image: url(images/bg-solution.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 46px;
    text-align: center;
}

#solution .title-main {
    margin-top: 20px;
}

#solution img{
    max-width: 100%;
}

#solution .row-content {
    position: relative;
    margin : 20px
}

#solution .text-content{
    position: absolute;

}

#solution .row-content-one{
    bottom: 9px;
    left: 133px;
}

#solution .row-content-four{
    bottom: -7px;
    left: 133px;
    padding: 0rem 3rem 0rem 0rem;
}
#solution .text-content p {
    font-size: 19px;
    font-family: "myriad-regular";
    color: rgb(255, 255, 255);
    text-align: left;
}

/* end solution */

/* register */
#register{
    background-image: url('images/bg-register.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#register .register-main{
    background-color: #d02127;
    width: 75%;
    margin: auto;
    margin-right: initial;
}

#register .register-main .title p{
        font-size: 27px;
        font-family: "myriad-regular";
        color: rgb(255, 255, 255);
        line-height: 3.25;
        text-align: center;
}
#register .register-main .content{
    text-align: -webkit-center;
}

#register .register-main input{
    display: block;
    width: 80%;
    margin: 1rem;
    height: 3rem;
    border: none;
    clip-path: polygon(1% 0%, 99% 0%, 100% 11%, 100% 90%, 99% 100%, 1% 100%, 0% 92%, 0% 9%);
    padding-left: 1rem;
}

::placeholder {
        font-size: 17px;
        font-family: "myriad-regular";
        color: rgb(40, 39, 39);
        line-height: 1.526;
        text-align: left;
}
/* end register */

@media screen and (max-width: 1024px){
    #learning-system .title-main p , #difficult .title p
    {
        font-size: 26px;
    }
}